@model MVC_EventTracker.Models.Participant

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Participant</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EventId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EventId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ParticipantENT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ParticipantENT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SeatId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SeatId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BlockId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BlockId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ParticipantId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
