@model IEnumerable<MVC_EventTracker.Models.Participant>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EventId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ParticipantENT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SeatId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BlockId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.EventId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ParticipantENT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SeatId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BlockId)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ParticipantId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ParticipantId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ParticipantId })
        </td>
    </tr>
}

</table>
